@media (max-width: 1200px) {
  .promo {
    &__header {
      font-size: 40px;
    }

    &__subheader {
      font-size: 22px;
    }
  }

  .title {
    font-size: 28px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 700px;
  }

  .promo {
    &__header {
      font-size: 38px;
    }

    &__subheader {
      font-size: 20px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 500px;
  }

  .header {
    flex-wrap: wrap;

    &__logo {
      width: 220px;
    }

    &__official {
      display: flex;
      order: 1;
      align-items: baseline;
      text-align: left;

      span {
        margin-left: 5px;
        font-size: 12px;
      }
    }
  }

  .button {
    &_main {
      margin-top: 50px;
      height: 40px;
    }
  }

  .promo {
    min-height: 550px;
    padding-bottom: 50px;

    &__header {
      font-size: 36px;
    }

    &__subheader {
      font-size: 18px;
    }

    &__wrapper {
      align-items: center;
      margin-top: 80px;
    }

    &__icons {
      margin-top: 50px;
      width: 370px;
    }

    &__icon {
      width: 108px;
      font-size: 12px;

      img {
        margin-bottom: 12px;
      }
    }
  }

  .title {
    font-size: 24px;
  }

  .advantages {
    min-height: 370px;
    padding: 40px 0 50px 0;

    &__items {
      margin-top: 20px;
      flex-direction: column;
    }

    &__item {
      margin: 0 auto;
      margin-top: 10px;
    }

    &__subtitle {
      margin-top: 15px;
      font-size: 16px;
    }

    &__descr {
      margin-top: 10px;
      font-size: 12px;
    }

  }
}

@media (max-width: 575px) {
  .container {
    max-width: 300px;
  }

  .header {
    flex-direction: column;

    &__logo {
      width: 200px;
    }

    &__official {
      margin-top: 5px;
      order: 0;
    }

    &__phone {
      margin-top: 5px;
    }
  }

  .promo {
    min-height: 450px;

    &__wrapper {
      margin-top: 50px;
    }

    &__header {
      font-size: 30px;
      text-align: center;
    }

    &__subheader {
      font-size: 16px;
      text-align: center;
    }

    &__icons {
      margin-top: 30px;
      width: 300px;
    }
  }

  .title {
    font-size: 22px;
  }
}