@media (max-width: 1200px) {
  .container {
    max-width: 700px;
  }

  .promo {
    &__header {
      font-size: 40px;
    }

    &__subheader {
      font-size: 22px;
    }
  }

  .title {
    font-size: 28px;
  }

  .reviews {
    &__text {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@media (max-width: 991px) {
  .promo {
    &__header {
      font-size: 38px;
    }

    &__subheader {
      font-size: 20px;
    }
  }

  .consultation {
    padding: 70px 0 80px 0;
  }

  .carousel {
    &__inner {
      width: 600px;
    }
  }

  .slick {
    &-slide img {
      max-width: 600px;
    }
  }

  .catalog {
    &__content {
      padding: 0 40px;
    }

    &-item {
      &:nth-child(3n) {
        margin-right: 20px;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .footer {
    height: 530px;

    &__info {
      height: 250px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 500px;
  }

  .header {
    flex-wrap: wrap;

    &__logo {
      width: 220px;
    }

    &__official {
      display: flex;
      order: 1;
      align-items: baseline;
      text-align: left;

      span {
        margin-left: 5px;
        font-size: 12px;
      }
    }
  }

  .button {
    &_main {
      margin-top: 50px;
    }

    &_submit {
      height: 50px;
    }

    &:hover {
      box-shadow: none;
    }
  }

  .promo {
    min-height: 550px;
    padding-bottom: 50px;

    &__header {
      font-size: 36px;
    }

    &__subheader {
      font-size: 18px;
    }

    &__wrapper {
      align-items: center;
      margin-top: 80px;
    }

    &__icons {
      margin-top: 50px;
      width: 370px;
    }

    &__icon {
      width: 108px;
      font-size: 12px;

      img {
        margin-bottom: 12px;
      }
    }
  }

  .title {
    font-size: 24px;

    &_left {
      text-align: center;
    }
  }

  .advantages {
    min-height: 370px;
    padding: 40px 0 50px 0;

    &__items {
      margin-top: 20px;
      flex-direction: column;
    }

    &__item {
      margin: 0 auto;
      margin-top: 10px;
    }

    &__subtitle {
      margin-top: 15px;
      font-size: 16px;
    }

    &__descr {
      margin-top: 10px;
      font-size: 12px;
    }
  }

  .consultation {
    min-height: 600px;
    padding: 40px 0 50px 0;

    &__descr {
      margin: 0 auto;
      margin-top: 60px;
      padding: 0 25px;
      font-size: 18px;
      text-align: center;
    }

    .feed_form {
      margin: 0 auto;
      margin-top: 36px;
    }
  }

  .carousel {
    padding: 60px 0;

    &__inner {
      width: 500px;
    }
  }

  .slick {
    &-slide img {
      max-width: 500px;
    }

    &-slider {
      position: relative;
      display: block;
      user-select: none;
      touch-action: pan-y;
    }

    &-dots {
      position: absolute;
      display: flex;
      justify-content: center;
      bottom: -25px;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        position: relative;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
          position: relative;
          font-size: 0;
          line-height: 0;
          display: block;
          width: 20px;
          height: 20px;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          border: 0;
          outline: none;
          background: transparent;

          &:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: #000;
            opacity: 0.25;
          }

        }

        &.slick-active {
          button {
            &:before {
              opacity: 0.75;
            }
          }
        }
      }
    }
  }

  .catalog {
    &__tabs {
      margin-top: 50px;
    }

    &__tab {
      font-size: 16px;

      &:hover {
        box-shadow: none;
        border: solid 2px #d0d0d0;
      }
    }

    &__content {
      margin-top: 50px;
      justify-content: center;
    }

    &-item {
      margin-right: 0;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .reviews {
    padding: 60px 0;

    &__items {
      margin-top: 50px;
    }

    &__item {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .footer {
    height: 430px;

    &__info {
      height: 200px;
      width: 350px;
      padding: 35px 10px 20px;
    }

    &__phone {
      margin-top: 20px;
    }

    &__social {
      margin-top: 24px;

      &-item {
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 300px;
  }

  .header {
    flex-direction: column;

    &__logo {
      width: 200px;
    }

    &__official {
      margin-top: 5px;
      order: 0;
      flex-direction: column;

      span {
        margin: 0 auto;

      }
    }

    &__phone {
      margin-top: 5px;
    }
  }

  .promo {
    min-height: 450px;

    &__wrapper {
      margin-top: 50px;
    }

    &__header {
      font-size: 30px;
      text-align: center;
    }

    &__subheader {
      font-size: 16px;
      text-align: center;
    }

    &__icons {
      margin-top: 30px;
      width: 300px;
    }
  }

  .title {
    font-size: 20px;
  }

  .consultation {
    &__descr {
      width: 100%;
      font-size: 16px;
    }
  }

  .carousel {
    padding: 60px 0;

    &__inner {
      width: 300px;
    }
  }

  .slick {
    &-slide img {
      max-width: 300px;
    }
  }

  .catalog {
    &__tabs {
      margin-top: 40px;
      flex-direction: column;
    }

    &__tab {
      margin-bottom: 10px;
    }

    &__content {
      margin-top: 40px;
      padding: 0;
    }
  }

  .reviews {
    &__item {
      flex-direction: column;
      align-items: center;
    }

    &__descr {
      margin-top: 10px;
      margin-left: 0;
      width: 100%;
      text-align: center;
    }
  }

  .footer {
    height: 400px;

    &__info {
      top: auto;
      bottom: -170px;
      width: 100%;
      height: 170px;
      padding-top: 20px;
    }

    &__addr {
      font-size: 18px;
    }
  }

  .modal {
    padding: 20px;
    min-height: 360px;
    width: 280px;

    &__subtitle {
      font-size: 15px;
    }

    &__descr {
      margin-top: 4px;
      font-size: 12px;
    }

    & .feed_form {
      width: auto;
    }
  }

}

@media (max-width: 375px) {
  .container {
    max-width: 280px;
  }

  .promo {
    &__icons {
      margin-top: 0px;
      flex-direction: column;
      align-items: center;
    }

    &__icon {
      margin-top: 20px;
    }
  }

  .button {
    &_main {
      width: 280px;
    }
  }

  .feed_form {
    width: 280px;
  }

  .carousel {
    &__inner {
      width: 280px;
    }
  }

  .slick {
    &-slide img {
      max-width: 280px;
    }
  }

  .catalog {
    &-item {
      &__subtitle {
        font-size: 14px;
      }

      &__descr {
        font-size: 12px;
      }

      &__list {
        li {
          font-size: 12px;
        }
      }

      &__new-price {
        font-size: 18px;
      }
    }
  }

  .reviews {
    &__title {
      font-size: 16px;
    }

    &__text {
      font-size: 12px;
    }
  }

  .modal {
    padding: 10px;
    min-height: 330px;
    width: 240px;

    &__subtitle {
      font-size: 13px;
    }

    &__descr {
      font-size: 11px;
    }

    &__close {
      right: -25px;
      font-size: 30px;
      line-height: 16px;
    }
  }
}