.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url('../../image/bg/bg_run.jpg') center (center/cover) no-repeat;

  &__wrapper {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__header {
    font-size: 42px;
    font-weight: bold;
    line-height: 42px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__subheader {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__icons {
    margin-top: 65px;
    width: 430px;
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    width: 110px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;

    img {
      width: 42px;
      height: 46px;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  &__link {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;

    a {
      text-decoration: underline;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}